Package: com.ghzayeldeveloper.com
Name: HD Enabler For TikTok
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Mohammad Ghzayel
Author: Mohammad Ghzayel
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
